@font-face {
  font-family: 'Gotham';
  font-weight: 400;
  src: url('/Gotham-Rounded-Font/Gotham Rounded Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham';
  font-weight: 700;
  src: url('/Gotham-Rounded-Font/Gotham Rounded Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Gotham';
  font-weight: 300;
  src: url('/Gotham-Rounded-Font/Gotham Rounded Light.otf') format('opentype');
}

* {
  font-family: 'Gotham', sans-serif;
}

body {
	background: linear-gradient(180deg, #1F0438 15.22%, #060400 100%);
}

.highlight {
  color: #FEC052;
}
